main {
    max-width: 1200px;
}
main .container-description .title {
    font-size: 5.5rem;
    
}
main .container-description .description {
    font-size: 4rem;
    
}

main .container-btn {
    flex-direction: row;
    margin-bottom: 75px;
    
}
main .container-btn input {
    width: 360px;
}
main .container-btn .input-btn {
    width: 200px;
    margin-bottom: 0px;
}

main .container__bottom-img img {
    width: 85%;
    height: 60vh;
    
}