:root {
    /*Colores primarios*/
    --Blue: hsl(223, 87%, 63%);

    /*Colores secundarios*/
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);

    /*Colores Neutrales*/
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 52.5%;
}

body {
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 100%;
}

/*-------------------------Container img------------------*/
main .container-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container-img img {
    margin-top: 75px;
    margin-bottom: 35px;
}

/*-------------------Container description---------------------*/
main .container-description {
    width: 100%;
}

main .container-description .title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--Gray);
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
}

main .container-description span {
    color: var(--Very-Dark-Blue);
}

main .container-description .description {
    color: var(--Very-Dark-Blue);
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
}

/*---------------------------Container input*/
main .container-btn, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
}

main .container-btn form input {
    width: 330px;
    height: 45px;
    border-radius: 25px;
    outline: none;
}
main .container-btn form .input-text {
    border: 2px solid var(--Pale-Blue);
    color: var(--Gray);
    font-size: 1.8rem;
    padding-left: 25px;

}

main .container-btn form .input-btn {
    background-color: var(--Blue);
    border: none;
    box-shadow: 0px 10px 0px 0px rgba(116, 179, 230, 0.2);
    color: var(--Pale-Blue);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 65px;
}

main .container-btn .input-btn:hover {
    background-color: var(--Pale-Blue);
    color: var(--Blue);
}

/*-----------------------Container img principal---------*/
main .container__bottom-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container__bottom-img img {
    width: 100%;
    padding: 15px;
}

/*--------------------footer---------------*/
main footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main footer .container-redeSociales {
    display: flex;
    gap: 25px;
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 35px;
    
}

main footer .container-redeSociales i {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid var(--Pale-Blue);
    border-radius: 50%;
    color: var(--Blue);
    cursor: pointer;
    line-height: 50px;
    padding-left: 12px;
    
}

main footer .container-redeSociales i:hover {
    background-color: var(--Blue);
    color: #fff;
}

main footer .container-redeSociales .instagram {
    padding-left: 14px;
}

main footer p {
    color: var(--Gray);
    font-size: 1.8rem;
    margin-bottom: 35px;
}

/*---------------------------Validaciones---------------*/
main .container-btn .incorrect {
    border: 2px solid red;
    box-shadow: 2px 2px 2px 2px rgb(219, 142, 142);
    
}
.error {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    margin-top: -4.5rem;
    margin-left: -200px;
    margin-bottom: 25px;
    text-align: right;
    
}

.error {
    visibility: visible; 
    color: #e80c3c;
}
/* main .container-btn div .mensajeError {
    font-size: 1.6rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    
    
} */
