body {
    background-image: url('../img/bg-intro-desktop.png');
}

main {
    max-width: 1300px;
    flex-direction: row;
    margin-top: 100px;
}

/*----------------------Container Description-------*/
main .container-description .title {
    font-size: 4.5rem;
}

main .container-description .description {
    font-size: 1.8rem;
    margin-left: 100px;
    text-align: left;
    
}

/*------------------------Contenedor Formulario------------*/

/*------------container-price*/
main .container-form .descriptionPrice {
    padding: 20px;
}

/*-----------Container form--------------*/
main .container-form #name {
    margin-top: 35px;
}