*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #a1a1a1;
}

.container-principal {
    max-width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* gap: 20px; */
    background-color: #fff;
    margin-top: 150px;
    border-radius: 10px;
}

/*--------------------------Contenedor Img----------*/
.container-img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
   

}
.container-img img {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

/*--------------------------Descripción del producto-------*/
.section-container {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
}

.section-container .div-description .p-free {
    width: 90px;
    font-size: 1.4rem;
    line-height: 30px;
    color: #fff;
    background: #000;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}

.section-container .div-description .p-description {
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*---------------------Precios------------------------*/
.div-price .p-price {
    font-size: 1.6rem;
    text-decoration-line: line-through;
    color: #000;
    margin-bottom: 5px;
}
.div-price .p--price-two {
    font-size: 3.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 7px;
}

.div-price .p--price-description {
    font-size: 1.5rem;
    color: #a1a1a1;
    margin-bottom: 15px;
}

/*----------------------primer div btn----------------*/
.container-btn .btn {
    width: 375px;
    height: 40px;
    background: #3487d4;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container--description-btn {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.container--description-btn a {
    width: 10px;
    height: 10px;
    font-size: 1rem;
    background-color: #34d477;
    border-radius: 50%;
    margin-top: 4px;
        
}
.container-btn p {
    font-size: 1.6rem;
    color: #000;
}

/*-------------------segundo div de btn------------------------*/

.div--container-input {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.div--container-input .input-one {
    width: 182px;
    height: 30px;
    background: #fff;
    color: #000;
    font-size: 1.6rem;
    outline: none;
    border-radius: 10px;
   
}

.div--container-input .input-two {
    width: 182px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    font-size: 1.6rem;
}